EnglishEnhancer/obj/Debug/CoreCompileInputs.cache
EnglishEnhancer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EnglishEnhancer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/EnglishEnhancer/v15/.suo
EnglishEnhancer/obj/Debug/EnglishEnhancer.vbprojResolveAssemblyReference.cache
EnglishEnhancer/obj/Debug/EnglishEnhancer.Resources.resources
EnglishEnhancer/obj/Debug/EnglishEnhancer.pdb
EnglishEnhancer/obj/Debug/EnglishEnhancer.exe
EnglishEnhancer/obj/Debug/EnglishEnhancer.Form1.resources
EnglishEnhancer/obj/Debug/EnglishEnhancer.vbproj.FileListAbsolute.txt
EnglishEnhancer/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
EnglishEnhancer/obj/Debug/EnglishEnhancer.xml
EnglishEnhancer/obj/Debug/EnglishEnhancer.vbproj.GenerateResource.Cache
zips/EnglishEnhancer 1.1.6205 code.zip